<div class="mx-auto">
    <h2 style="text-align: center;">STOCK SEARCH</h2>
</div>
<div class="input-box-sec my-4">
    <div class="input-box-left">
        <form class="input-form">
            <mat-label></mat-label>
            <input matInput
            aria-label="Input"
            [matAutocomplete]="auto"
            [formControl]="formCtrl"
            placeholder="Enter Stock Ticker Symbol"
            class="input-field"
            >
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionClick($event.option.value)">
                <mat-option *ngIf="loading" class="is-loading" id="autocomplete-load-spinner">
                    <mat-spinner [diameter]="30"></mat-spinner>
                </mat-option>
                <mat-option *ngFor="let company of resultCompanies | async" [value]="company.symbol">
                    <span>{{company.symbol}}</span>
                    <small> | {{company.description}}</small>
                </mat-option>
            </mat-autocomplete>
        </form>
    </div>
    <div class="input-box-right">
        <span class="search-button" (click)="onSearchClick()">
            <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" width="16" height="16" fill="#4d1a7f" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </span>
        &nbsp;
        <span class="clear-button" (click)="onClearClick()">
            <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" width="16" height="16" fill="#4d1a7f" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
            </svg>
        </span>
    </div>
</div>