ngb-alert {
    text-align: center;
}

.search-info-top {
    margin: auto;
}

.search-top-mid {
    margin: 0;
    padding: 0;
    min-width: 60px;
}

.search-top-right {
    text-align: right;
}

.summary-content {
    margin: auto;
}

.insignts-sentiments {
    width: 600px;
    max-width: 100%;
    margin: auto;
}

.insights-lower {
    margin: auto;
}

#load-spinner {
    margin: auto;
}

#market-status {
    margin: auto;
    text-align: center;
}

.text-large {
    font-size: x-large;
    font-weight: bold;
}

.text-small {
    font-size: 14px;
}

#logo-div {
    margin: auto;
    padding: 0;
}

#logo-img {
    display: block;
    margin: auto;
    height: 80px;
    width: 80px;
}

.search-highchart {
    display: block;
    height: 400px;
    margin: auto;
    max-width: 100%;
}

.history-highchart {
    height: 600px;
    display: block;
    margin: auto;
}

/*
#summary-highchart {

}
*/

.news-text {
    display: block;
    
}

@media (min-width: 769px) {
    .text-large {
        font-size: xx-large;
    }

    .text-mid {
        font-size: 20px;
    }

    .text-small {
        font-size: medium;
    }

    #logo-div {
        height: 80px;
        width: 80px;
    }

    #logo-img {
        height: 80px;
        width: 80px;
    }

    .news-img {
        width: 20%;
    }

    .news-text {
        width: 78%;
        float: right;
        margin-bottom: 10px;
    }

    .insights-highchart {
        width: 600px;
    }

    .history-highchart {
        max-width: 1250px;
    }
}

@media (max-width: 768px) {
    .text-large {
        font-size: x-large;
    }

    .text-mid {
        font-size: medium;
    }

    .text-small {
        font-size: small;
    }

    #logo-div {
        height: 70px;
        width: 70px;
    }

    #logo-img {
        height: 70px;
        width: 70px;
    }

    .text-mob {
        font-size: small;
    }

    .news-img {
        width: 100%;
    }

    .news-text {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

mat-card {
    height: 100%;
}